.contestItem {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20rem;
}

.level {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10rem;

}

.level:nth-child(2n) .card_container {
    grid-column: 2;
    grid-row: 1;
}

.level:nth-child(2n) .card_container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.card {
    height: 50rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
}

.level_details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    gap: 5rem;
}

.level_details h2 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.subheading {
    font-size: 2rem;
    font-weight: 500;
}

.detail_bottom p {
    font-size: 2rem;
    font-weight: 500;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.7rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #48ADD1;
    font-weight: 500;
    font-size: 2rem;
}

.contestDetails {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.detailSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detailSection ul li {
    font-size: 2rem;
    font-weight: 500;
}

/* PRIZE CARD */
.prizes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.prizes_container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.prize_card {
    width: 50rem;
    height: 49rem;
    background: #FBBC04;
    border-radius: 52px;
    position: relative;
}

.prize_card>img {
    position: absolute;
    top: -3%;
    left: 6%;
    width: 15rem;
}

@media screen and (max-width:900px) {
    .contestItem {
        max-width: 90%;
    }

    .level {
        gap: 7rem;
        align-items: center;
    }

    .card {
        width: 40rem;
        height: 40rem;
    }

    .prizes_container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:600px) {
    .contestItem {
        max-width: 100%;
        margin-top: 15rem;
    }

    .card_container {
        margin-left: -1.5rem;
    }

    .level {
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        gap: 5rem;
    }

    .level_details {
        height: 100%;
    }

    .btn_wrapper {
        display: flex;
        justify-content: center
    }

    .prize_card {
        width: 90%;
        height: 40rem;
    }
}