.level{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 80%;
    gap: 10rem;
    margin: 0 auto;
}
.level:nth-child(2n) .card_container{
    grid-column: 2;
    grid-row: 1;
}
.level:nth-child(2n) .card_container{
   display: flex;
   justify-content: flex-end;
}
.card {
    height: 50rem;
    width: 50rem;
    border-radius: 54px;
    background: #FBBC04;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5rem;
}
.card_top{
display: flex;
justify-content: center;
align-items: center;
}
.card_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trophy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trophy p{
    max-width: 20rem;
    text-align: center;
}
.trophy img{
width: 15rem;
}

.level_details{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    gap: 5rem;
}
.level_details h2{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom:2rem;
}
.subheading{
    font-size: 2rem;
    font-weight:500;
}
.detail_bottom p{
font-size: 2rem;
font-weight: 500;
}

.btn {
    padding: 0.7rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    color:  #48ADD1;
    font-weight: 500;
    font-size: 2rem;
}
@media screen and (max-width:900px) {
    .level{
        max-width: 100%;
        gap: 7rem;
        align-items: center;
    }
    .card{
        width: 40rem;
        height: 50rem;
    }
}
@media screen and (max-width:600px) {
    .card_container{
      margin-left: -1.5rem;
     }
     .card{
         width: 40rem;
         height: 50rem;
     }
    .level{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 5rem;
        margin-left: 1.5rem;
    }
    .level_details{
        height: 100%;
    }
}