.rules_container{
margin-left: 2rem;
}
.rules_container ul{
    gap: 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}
.rules_container ul li{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.rules_container ul li{
    font-size: 1.7rem;
    font-weight: 500;
}
.rules_container ul li img{
  width: 3rem;
  transform: rotate(0);
}

@media screen and (max-width:900px) {
    .rules_container{
        margin-left: 5rem;
    }
    
}
@media screen and (max-width:600px) {
    .rules_container{
        margin-left: 0rem;
    }
    .rules_container ul{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        justify-content: flex-start;
        list-style: none;
        gap: 2rem;
    }
}