.grid_container{
    display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  gap: 1rem;
  
 
}
.section_h{
    font-size: 2.5rem;
    font-weight: 500;
}
@media screen and (max-width:1200px) {
    .grid_container{
        grid-template-columns: auto auto auto;
    }
   
}
@media screen and (max-width:900px) {
    .grid_container{
        grid-template-columns: auto auto;
    }
   
}
@media screen and (max-width: 400px) {
    .about{
        grid-template-columns: auto auto;
    }
}
