.prizes_container{
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}
.prize_card{
    height: 60rem;
    width: 35rem;
    background: linear-gradient(180deg, rgba(69, 227, 241, 0.83) 0%, #D735FF 100%);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.prize_card img{
   width: 10rem;
}