.card{
    cursor: pointer;
display: flex;
min-height: 60rem;
flex-direction: column;
align-items: center;
padding:5rem 2rem;
gap: 5rem;
width: 35rem;
border-radius: 35px;
transition: all 0.2s ease;
background: linear-gradient(to bottom, #45e3f188,#34aec167,#134662,#000A2B);

}
.card h3{
    font-size: 2.5rem;
}

.card ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
}
.card ul li p, .subheading{
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
}
.subheading{
    font-weight: 500;
    text-align: left;
}
.card:hover{
    transform: scale(1.05);
}


@media screen and (max-width:900px) {
    .card{
    padding:3rem 2rem;
}
}
