.card{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    color: black;
    min-height: 30rem;
    width: 100%;
}
.card:nth-of-type(1){
    background: linear-gradient(to right bottom, #FFC107,#FF8000);
}

.card:nth-of-type(2){
    background: url('/card-3.png')
}
.card:nth-of-type(3){
    background: linear-gradient(to bottom, #C4C4C4,rgba(196, 196, 196,0.2));
}
.card h3{
    font-size: 2rem;
    font-weight: 400;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.heading img{
    width: 5rem;
    color: #000;
}

@media screen and (max-width:900px) {
    .card{
        padding:2rem  3rem;
        min-height: 20rem;
    }
}