.hero{
    height: 100vh;
    width: 100%;
    background-image: url('../public/banner.png');
    background-position-x:center;
    background-position-y:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
    padding-bottom: 5rem;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}
.hero h1{
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-shadow:0 0 1px #fff,    0 0 8px #fff,    0 0 15px #fff;
}
.hero_logo{
    position: absolute;
    top: 0%;
    width: 70rem;
}
.hero_logo img{
    width: 100%;
}
.hero_year{
width: 20rem;
}
.hero_year img{
width: 100%;
}
