.header{
    padding: 0 2rem;
    position: absolute;
    z-index: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_logo{
    width: 35rem;
}
.header_logo img{
    width: 100%;
}
.navbar{
    display: flex;
    padding-top: 2rem;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 5rem;
}
.navbar ul li{
    font-weight: 300;
font-size: 1.6rem;
}