.card{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    color: #fff;
    min-height: 38rem;
    width: 100%;
    /* background: linear-gradient(to bottom, #FBBC04,#FDA002); */
    background: linear-gradient(179.77deg, #FBBC04 0.18%, #FBBC04 0.19%, #FF8000 99.79%, #FDA102 99.79%, #FDA002 99.79%);

}
.link:hover{
    color: none;
    text-shadow: none;
}
.card h3{
    font-size: 2.5rem;
    font-weight: 600;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.heading img{
    width: 5rem;
    color: #000;
}
.description p{
    font-weight: 400;
    font-size: 1.8rem;
    color: #fff;
}

@media screen and (max-width:900px) {
    .card{
        /* padding:2rem  3rem; */
        min-height: 38rem;
    }
}