.faq_container{
    margin-left:1.5rem;
}
.faq_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
}
.discord > p{
    text-align: center;
    margin-top: 5rem;
    font-weight: 600  !important;
}