.hero{
    height: 100vh;
    width: 100%;
    background-image: url('../../public/banner-c.png');
    background-position-x:center;
    background-position-y:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 1rem;
    position: relative;
    z-index: 1;
    gap: 2rem;
    justify-content: space-between;
}
.hero h1 p{
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-shadow:0 0 1px #fff,    0 0 8px #fff,    0 0 15px #fff;
}
.hero_logo{
    width: 50rem;
}
.hero_logo img{
    width: 100%;
}
.hero_year{
width: 20rem;
}
.hero_year img{
width: 100%;
}

@media only screen and (max-width: 1100px) {
    .hero{
        height: 80vh;
    }
    .hero_logo{
        width: 40rem;
    }
    .hero_year{
        width: 15rem;
        }
}
@media only screen and (max-width: 900px) {
    .hero{
        height: 100vh;
    }
    .hero{
       padding: 20rem 0;
       justify-content: space-between;
    }
    .hero h1 p{
        font-size: 2.5rem;
    }
    .hero_year{
        width: 15rem;
        }
  }

@media only screen and (max-width: 600px) {
    .hero{
        height: 100vh;
    }
.hero_logo{
    width: 30rem;
    }
.hero_year{
        width: 15rem;
    }
}