.involved_container{
   margin-left: 1.5rem;
}
.container_subheading{
    color: var(--purple);
    font-weight:600;
}
.involved_actions{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:5rem;
    margin-top: 2rem;
}
.action_button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-wrap:normal;
    border-radius: 20rem;
    transition: 0.3s ease all;
    background: linear-gradient(to right, #FE0199, rgba(212, 52, 173,0.97), rgba(69, 227, 241,0.83));
}
.action_button > img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    padding: 2rem;
    border-radius: 50%;
    background-color: #fff;
}

.action_button > p{
    padding: 0 2rem;
    font-weight: 600;
}
.involved_actions > a{
    color: #fff;
    text-shadow: none;
}
.action_button:hover{
    transform: translateY(-3px);
}

@media screen and (max-width:900px) {
    .involved_actions{
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
}
@media screen and (max-width:600px) {
    .involved_actions{
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }
    .action_button > p{
        padding: 0 1rem;
    }
}
