
.sponsors_conatiner{
    margin-left: 1.5rem;
}
.sponsors_subheading >p {
    font-weight:600;
    text-align: center;
    margin-top: 5rem;
    color: var(--purple-2);
}
.sponsors_subheading > p > a:hover{
    color: var(--purple-2);
}
.sponsors_details{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.star{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}
.star > img{
   width: 5rem;
}
.sponsor_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.sponsor_div:last-child{
    border-bottom: none;
}
.sponsor_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5rem;
}
.sponsor_images_container{
    height: 9rem;
    background-color: #101e4dcb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width:40rem;
}
.sponsor_images  img{
    height:7rem;
    border-radius: 10px;
}

@media screen and (max-width:700px) {
    .star > img{
        width: 4rem;
     }
    .sponsor_div{
        align-items: center;
        gap: 4rem;
    }
    .sponsor_images_container{
        height: 8rem;
        width:40rem;
    }
    .sponsor_images  img{
        height:5rem;
        /* background-color: #fff; */
        border-radius: 10px;
    }
}