.timeline_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 1rem 0rem;
}
.time{
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
}
.time > p{
    font-weight: 700;
    font-size: 1rem;
    color: var(--pink);
}
.description{
    padding: 0.5rem 2rem;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    /* background: linear-gradient(to right, #FE0199,#FE0199,#FE0199,rgba(254, 1, 153, 0.63), #fe019900); */
    background: linear-gradient(90deg, rgba(254, 1, 153, 0.86) 0.93%, rgba(254, 1, 153, 0.86) 34.08%, rgba(254, 1, 153, 0.86) 63.1%, rgba(254, 1, 153, 0.5418) 85.46%, rgba(254, 1, 153, 0) 100%);

}
.description > p{
    font-weight: 300;
    font-size:1.8rem;
}
.description > p:first-child{
    font-weight: 500;
}

@media screen and (max-width:900px) {
  
}
@media screen and (max-width:600px) {
    .timeline_item{
        gap: 1rem;
    }
}