@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root{
  --pink: #FE0199;
  --purple: #7043BA;
  --blue: #073EFF;
  --yellow: #FFC107;


}
*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-x: hidden;
  background-color: #000A2B;
}
body > *{
  -webkit-tap-highlight-color: transparent;
}
a,a:visited,a:link,a:active{
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease all;
}
a:hover{
  color: var(--pink);
  text-shadow:0 0 5px var(--pink),    0 0 8px var(--pink),    0 0 15px var(--pink);
}
section{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h2{
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
p{
  font-size: 1.6rem;
  font-weight: 300;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
  section{
    padding: 5rem 3rem;
  }
}