.credits{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.credits  span{ 
    opacity: 0.3;
}
.credits a{
    opacity: 0.3;
}
.credits a:hover{
    opacity: 0.9;
    text-shadow: none;
}
